#========================================================================#
# Valve Control Script Language (VCSL)
# Version: 1.0
# Release Date: 2024/10/31
# Author: Weihan Li
# Contributed: Chen Ye
#========================================================================#
# [VCSL Supported Language Properties]
# - <Control>
#   - Sequential Execution
#   - Loop
# - <Coding>
#   - Comment
#   - Simple Macro (Mapping)
# - <Keywords>
#   - CLOSE: closing all valves identifier
#   - LOOP: loop body start identifier
#   - MAP: valve macro defination identifier
#========================================================================#
# [VCSL Syntax]
#<MAP:{key1:1,key2:2,...}>      # format as key:value, value as 1,2,...numeric for valve index binding on hardware
#<CLOSE>                        # the key word for close all valve
#<LOOP:n>                       # loop the next code block between '{' and  '}' n times
#[key1(&key2&...)]:t            # key in MAP and t for keeping time, unit as second, & for valves open at the same time
#========================================================================#

# Your code here:

# setup, parse only once
<MAP:{air:1,A:2,B:3,AB:4}>

<CLOSE>
<LOOP:1>
{
    [air]:10
    [A]:10
    [AB]:10
    [A]:10
    [air]:10
    [B]:10
    [AB]:10
    [B]:10
    [air]:10
}
<CLOSE>